.topmargin {
    margin-top: 30px;
}


/* Label - Text Farbe bei focus */

.input-field input:focus+label {
    color: red !important;
}


/* Input Feld - underline color bei focus */

.input-field input[type=text]:focus {
    border-bottom: 2px solid red !important;
    -webkit-box-shadow: 0 2px 0 0 red !important;
    -moz-box-shadow: 0 2px 0 0 red !important;
    box-shadow: 0 2px 0 0 red !important;
}


/* ICON - Farbe bei active*/

.input-field .prefix.active {
    color: red !important;
}

#Absatz1 {
    text-align: center;
}